<!-- Placed at the end of the document so the pages load faster -->

<!-- Bootstrap core JavaScript -->
<script src="{{ "/js/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<!-- Resize the map -->
<script src="{{ "/js/resize.js" | prepend: site.baseurl }}"></script>
<!-- Carousel time JS -->
<script src="{{ "/js/carousel_time.js" | prepend: site.baseurl }}"></script>
<!-- Animate JS -->
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
<script>
  new WOW().init();
</script>
